In [8]:
name = "Alice"
age = 25
score = 95.5

print("Name: ", name, "Age: ", age)

Name:  Alice Age:  25

#print 예제 입니다.

In [9]:
print("Hello, Python!")

Hello, Python!

In [10]:
print(f"My name is {name}, I am {age} years old, score: {score}")
print(f"My name is {name} , age {age}, score {score}")
print(f"Score with 2 decimals: {score:.2f}")

My name is Alice, I am 25 years old, score: 95.5
My name is Alice , age 25, score 95.5
Score with 2 decimals: 95.50

In [11]:
print("My name is {}, I am {} years old, score: {}".format(name, age, score))
print("My name is {0}, age {1}, score {2}".format(name, age, score))
print("Score with 2 decimals: {:.2f}".format(score))

My name is Alice, I am 25 years old, score: 95.5
My name is Alice, age 25, score 95.5
Score with 2 decimals: 95.50

In [12]:
print("Name: %s, Age: %d, Score: %.1f" % (name, age, score))

Name: Alice, Age: 25, Score: 95.5

In [13]:
print("This is line 1\nThis is line 2")

This is line 1
This is line 2

In [14]:
print("Hello", end=" ")
print("World")

Hello World

In [15]:
print("2025", "09", "23", sep="-")

2025-09-23